body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #0056b3;
  color: white;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

.search-input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Responsive design */
@media screen and (max-width: 768px) {
  .App {
    padding: 10px;
    margin: 10px auto;
  }

  th, td {
    padding: 8px 10px;
    font-size: 0.9em;
  }

  .search-input {
    max-width: 100%; /* Full width on smaller screens */
  }
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ddd;
  background-color: white;
  color: #333;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #0056b3;
  color: white;
  border-color: #0056b3;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}
